<div id="<%= dom_id bicycle_accessory %>">
  <p>
    <strong>Bicycle:</strong>
    <%= bicycle_accessory.bicycle_id %>
  </p>

  <p>
    <strong>Accessory:</strong>
    <%= bicycle_accessory.accessory_id %>
  </p>

</div>
