<h1>Editing bicycle accessory</h1>

<%= render "form", bicycle_accessory: @bicycle_accessory %>

<br>

<div>
  <%= link_to "Show this bicycle accessory", @bicycle_accessory %> |
  <%= link_to "Back to bicycle accessories", bicycle_accessories_path %>
</div>
