<div id="<%= dom_id accessory %>">
  <p>
    <strong>Name:</strong>
    <%= accessory.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= accessory.price %>
  </p>

  <p>
    <strong>Accessory type:</strong>
    <%= accessory.accessory_type %>
  </p>

</div>
